@font-face {
  /*给字体命名*/
  font-family: "ZiTiQuanXinYiGuanHeiTi4";
  /*引入字体文件*/
  /* src: url("./YouSheBiaoTiHei.ttf"); */
  src:url("./ZiTiQuanXinYiGuanHeiTi4.0-2.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /*给字体命名*/
  font-family: "AlibabaPuHuiTi-2-65-Medium";
  /*引入字体文件*/
  /* src: url("./YouSheBiaoTiHei.ttf"); */
  src:url("./AlibabaPuHuiTi-2-65-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

